<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses Setting</title>
    <link rel="icon" href="/assets/favicon/course.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/addreport.css">

</head>
<!-- nav -->

<body>
    <ul class="top-nav">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
        <h4 class="center">Add Patient</h4>
    </ul>

    <!-- sidenav -->
    <ul id="slide-out" class="sidenav blue darken-2">
    

    
        <li><a href="/Addpatient" class="waves-effect waves-light white-text"><i
              class="material-icons white-text">add</i>Add patient</a></li>
        <li><a href="/addreport" class="waves-effect waves-light white-text"><i
              class="material-icons white-text">add</i>Add Report</a></li>
       
          <div class="divider white-text"></div>
      
        
      </ul>

    <div class="container">
        <!-- Add or Edit New Course -->
        <div id="course-input">
            <h6>Patient Details</h6>
            <form action="patientDetails" method="post">
                <div class="input-field col s6">
                    <input id="pname" name="pname1" type="text" class="validate" required>
                    <label for="pname">Fullname</label>
                </div>
                <div class="input-field col s6">
                    <input id="pdb" name="pdb1" type="date" class="validate" required>
                    <label for="pdb">Date of Birth</label>
                </div>
                <div class="input-field col s6">
                    <input id="phno" name="phno1" type="number" class="validate" required>
                    <label for="phno">Phone No</label>
                </div>
                <div class="input-field col s6">
                   
                    <select id="gender" name="gender1" class="input-field col s12" required>
                        <option value="" disabled selected>Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>

                    </select>
                </div>
                <div class="input-field col s6">
                    <input id="paddr" name="paddr1" type="text" class="validate" required>
                    <label for="paddr">Address</label>
                </div>
                <div class="input-field col s6">
                    <input id="padhar" name="padhar1" type="number" class="validate" required>
                    <label for="padhar">Adhar Card</label>
                </div>
                <div class="input-field col s6">
                    <input id="pmedhis" name="pmedhis1" type="text" class="validate" required>
                    <label for="pmedhis">Medical History</label>
                </div>

                <div class="center">
                    <button type="submit" class="waves-effect waves-light btn blue darken-2" id="signinbtn"
                       >Submit</button>
                </div>
            </form>
        </div>
        
    </div>

    <!-- Edit Course -->



    <!-- Course Table -->



    </div>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- side nav script -->
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-firestore.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->


    <script src="/scripts/adminconsole.js"></script>
    <script src="/scripts/addreport.js"></script>
</body>

</html>